//Onest font
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

//variables
:root {
  --font-family: "Onest", serif;
  --main-color: #444444;
  --second-color: #111111;
  --accent-color: #e22e2e;
}